@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400&display=swap');

:root {
  --primary-font: 'Inter', sans-serif;
  --primary-bg-color: #14213D;
  --secondary-bg-color: #010510;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--primary-font);
  color: white;
  font-weight: 300;
}

body {
  background-color: var(--primary-bg-color);
}

header {
  padding: 1% 2%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: var(--secondary-bg-color);
}

main {
  padding:  1% 2%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1%;
}

.exhibit-card {
  padding: 1% 2%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: var(--secondary-bg-color);
  border-radius: 3px;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#epoch-p {
  font-size: 25px;
  font-weight: bold;
}